In [71]:
#Module 4 - R/Python Practice Assignment 
#Devi Somalinga Bhuvanesh
#NUID - 001428225

In [78]:
import pandas as pd
from scipy import stats
import numpy as np
from math import sqrt
from scipy.stats import norm
import scipy.stats as stats

In [79]:
#Part 1 

#Claim = MaleBwtmean = FemaleBwtmean - h0
#Opp = MaleBwtmean != FemaleBwtmean - ha
#Two tailed 

#Load the dataset and view the dataset loaded
cats = pd.read_csv('/Users/devi/Documents/Devi/MPS Analytics/Probability and Statistics/Module 4/dataset-32337.csv')
print(cats)

    Sex  Bwt   Hwt
0     F  2.0   7.0
1     F  2.0   7.4
2     F  2.0   9.5
3     F  2.1   7.2
4     F  2.1   7.3
..   ..  ...   ...
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

[144 rows x 3 columns]

In [80]:
#Segregate male and female cats details from the database

#List Male
male = cats[cats["Sex"] =="M"]
#print(male)
male.describe()

             Bwt        Hwt
count  97.000000  97.000000
mean    2.900000  11.322680
std     0.467484   2.542288
min     2.000000   6.500000
25%     2.500000   9.400000
50%     2.900000  11.400000
75%     3.200000  12.800000
max     3.900000  20.500000

In [81]:
#List Female
female = cats[cats["Sex"] =="F"]
#print(female)
female.describe()

             Bwt        Hwt
count  47.000000  47.000000
mean    2.359574   9.202128
std     0.273988   1.357666
min     2.000000   6.300000
25%     2.150000   8.350000
50%     2.300000   9.100000
75%     2.500000  10.100000
max     3.000000  13.000000

In [82]:
#Method 1 - Two-sample t-test with unequal variance as mentioned in the question

x1=2.90
x2=2.35

s1=0.46
s2=0.27

n1=97
n2=47

#Since variance are not equal as stated, the smaller sample size is 47. 
df= n2-1

#Two-sample t-test is used in this study as the population standard deviation is not known and variance is unequal

SE=np.sqrt((s1*s1/n1)+(s2*s2/n2))
print("Standard Error %.5f"%SE)

t_stat = (x1-x2)-0/SE
print("t_stat is %.5f"%t_stat)

#find p-value for two-tailed test
p_value = scipy.stats.t.sf(abs(t_stat),df=df)*2
print('p_value: %0.5f' % (p_value))

#When significance level is 0.05
if p_value < 0.05:
    print("We can reject the null hypothesis that male and female cat bodyweights are equal.")
else:
    print("We fail to reject the null hypothesis that male and female cat bodyweights are equal.")
    
#When significance level is 0.1
if p_value < 0.1:
    print("We can reject the null hypothesis that male and female cat bodyweights are equal.")
else:
    print("We fail to reject the null hypothesis that male and female cat bodyweights are equal.")

Standard Error 0.06109
t_stat is 0.55000
p_value: 0.58498
We fail to reject the null hypothesis that male and female cat bodyweights are equal.
We fail to reject the null hypothesis that male and female cat bodyweights are equal.

In [83]:
#Method 2 - Using Z Test - We can use Z-test as n>30 in both the sample
x1=2.90
x2=2.35

s1=0.46
s2=0.27

n1=97
n2=47

#Z test is used here as the sample size is more than 30

SE=np.sqrt((s1*s1/n1)+(s2*s2/n2))
print("Standard Error %.5f"%SE)

z_stat = (x1-x2)-0/SE
print("Z_Stat is %.5f"%z_stat)

#find p-value for two tailed
p_value = scipy.stats.norm.sf(abs(z_stat))*2
print("P value is %.5f"%p_value)

#When significance level is 0.05
if p_value < 0.05:
    print("We can reject the null hypothesis that male and female cat bodyweights are equal.")
else:
    print("We fail to reject the null hypothesis that male and female cat bodyweights are equal.")
    
#When significance level is 0.1
if p_value < 0.1:
    print("We can reject the null hypothesis that male and female cat bodyweights are equal.")
else:
    print("We fail to reject the null hypothesis that male and female cat bodyweights are equal.")

Standard Error 0.06109
Z_Stat is 0.55000
P value is 0.58232
We fail to reject the null hypothesis that male and female cat bodyweights are equal.
We fail to reject the null hypothesis that male and female cat bodyweights are equal.

In [87]:
#Conclusion 
#In question above, two methods were adopted, i.e., two sample T-test with unequal variance and Z test.
#As stated in the question, two-sample "t-test" was used in this study as the population standard deviation is not known and variance is unequal
#The second method "z-test" was used here as the sample size is more than 30. 

#While comparing the results in both the tests, the t_statistic and z_statistic values are same which indicates that the sample size is large enough to assume the population standard deviation is known or can be estimated, and the standard normal distribution can be used to make statistical inferences.
#Since the sample size is greater than 30, the z and t distributions are essentially the same. 
#Also, given the significance level at 95% and 90%, it indicates that we do not have sufficient evidence to reject the claim that male and female cat bodyweights are equal.

In [88]:
#Part 2
#Claim - after_meditation_mean > before_meditation_mean - ha
#Opposite - after_meditation_mean <= before_meditation_mean - h0

#H0: The mean sleeping quality score after the meditation workshop is lesser than or equal to the mean sleeping quality score before the meditation workshop.
#HA: The mean sleeping quality score after the meditation workshop is higher than the mean sleeping quality score before the meditation workshop.
#Right tail

before = [4.6, 7.8, 9.1, 5.6, 6.9, 8.5, 5.3, 7.1, 3.2, 4.4]
after = [6.6, 7.7, 9.0, 6.2, 7.8, 8.3, 5.9, 6.5, 5.8, 4.9]

#Paired sample t-test is suitable for the study as the same 10 students are used for the study before and after the meditation workshop. Hence, they are dependent samples.
stats.ttest_rel(before, after)

Ttest_relResult(statistic=-1.948097934869753, pvalue=0.08322051865826395)

In [89]:
#Situation 1 - when Alpha = 0.05
#Since the p-value (0.0832) is greater than 0.05, we fail to reject the null hypothesis. 
#We do not have sufficient evidence to say that the mean sleeping quality score after the meditation workshop is lesser than or equal to the mean sleeping quality score before the meditation workshop.

In [90]:
#Situation 2 - when Alpha = 0.1
#Since the p-value (0.0832) is less than 0.1, we reject the null hypothesis. 
#We have sufficient evidence to say that the mean sleeping quality score after the meditation workshop is higher than the mean sleeping quality score before the meditation workshop.

In [91]:
#Conclusion 
#Since the same set of 10 students were used in the study, i.e., by comparing the sleeping quality before and after providing the meditation workshop, a paired sample t-test was used and is a right tailed. 
#Through the analysis, it is evident that at 90% confidence level, we are sure that the sleeping quality improves through the meditation workshop while at 95% confidence level, we do not have enough evidence to prove the same. 
#Since the p_value is 0.0832, the result differs for signicance level at 0.05 and 0.1. 
#The choice of significance level influences the decision-making process in hypothesis testing, and it is important to select an appropriate level of alpha based on the research question and the consequences of making a Type I or Type II error.